@import "../../assets/vars";

.track {
  border: 10px solid $white;
  border-radius: 5px;
  @include trans(background-color, border-color);

  &:hover {
    background-color: $grey-bg-text;
    border-color: $grey-bg-text;
  }

  &-header {
    padding-bottom: 6px;
    border-bottom: 1px solid $grey-border;
    display: flex;
    flex-flow: row wrap;
  }

  &-avatar {
    display: flex;
    flex: 0 0 70px;
    width: 70px;
    height: 70px;
    background: $grey-bg-text;
    justify-content: center;
    align-items: center;
    fill: $playlist-avatar;
    padding: 15px;
    border-radius: 5px;
    margin: 2px 0;
  }

  &-melody {
    flex: 1;
    margin-left: 30px;
    position: relative;
    overflow: hidden;

    &__manager {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__invoce {
      display: flex;
      align-items: center;
    }

    &__display {
      margin-top: 4px;
      position: absolute;
      top: 30px;
    }
  }

  &-button-play,
  &-button-stop {
    fill: $font-color;

    &:hover {
      fill: $green;
    }
  }

  &-name {
    padding-left: 20px;
  }

  &-dt {
    flex: 0 0 80px;
    width: 80px;
    text-align: right;
  }

  &-date,
  &-time {
    text-align: right;
    display: inline-block;
    padding: 2px 7px;
    border-radius: 14px;
    font-size: 12px;
  }

  &-date {
    line-height: 12px;
    color: $slide-data;
  }

  &-time {
    line-height: 16px;

    &--active {
      background: $font-color;
      color: $white;
    }

  }

  &-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }

  &-like,
  &-share,
  &-add,
  &-chart,
  &-popular {
    display: inline-block;
    padding: 2px 7px;
    border-radius: 14px;
    margin: 0 5px;

    &_icon {
      margin-right: 5px;
    }
  }

  &-popular {
    color: $light;

    &_icon {
      fill: $light;
    }
  }

  &-like,
  &-share,
  &-add,
  &-chart {
    border: 1px solid $grey-border;
    color: $font-color;

    &:hover {
      background: $grey-bg-text;
    }

    &_icon {
      fill: $font-color;
    }
  }

  &-like,
  &-share,
  &-chart,
  &-add {

    &:hover {
      color: $green;
    }
  }

  &-like:hover > &-like_icon,
  &-share:hover > &-share_icon,
  &-chart:hover > &-chart_icon,
  &-add:hover > &-add_icon {
    fill: $green;
  }
}
