@import "~assets/vars";

.header {
  background-color: $dark-blue;

  &__wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
    padding: 10px 0;

    @include tablet {
      margin: 0;
      padding: 15px 0;
    }

  }

  &__logo {
    line-height: 0;
    width: 95px;

    .svg {
      height: 21px;
    }

    @include tablet {
      width: 115px;

      .svg {
        height: 25px;
      }
    }

  }

  &__actions {
    align-items: center;
    display: flex;
  }

  &__signin {
    font-weight: 700;
    padding-right: 15px;
  }

  &__register {
    .btn {
      font-weight: 700;
    }

  }

  &__registered {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &-menu {
    display: flex;
    margin-left: 30px;

    &__item {
      & + & {
        border-left: 1px solid $header-menu-divider;
      }

    }

    &__link {
      display: block;
      font-size: 15px;
      color: $header-text;
      padding: 10px 12px;
    }

  }

  &-search {
    position: relative;

    &__input {
      width: 380px;
      height: 30px;
      border: 0;
      border-radius: 15px;
      background-color: $seach-input-bg;
      color: $white;
      padding-left: 12px;

      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-moz-placeholder,
      &:-ms-input-placeholder {
        color: $grey-text;
      }

      &:focus {
        outline: none;
      }

    }

    &__icon {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      margin: 8px 16px;
      fill: $white;
    }

  }

  &-upload {
    cursor: pointer;

    &__icon {
      margin-right: 12px;
      vertical-align: middle;
    }

    &__text {
      font-size: 15px;
      line-height: 1.2;
      text-align: left;
      color: $header-text;
      vertical-align: middle;
    }

  }

  &-artist {
    align-items: center;
    display: flex;
    position: relative;

    &__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 8px;
    }

    &__name {
      font-size: 15px;
      font-weight: bold;
      color: $white;
      cursor: pointer;
    }

    &__arrow {
      margin-left: 8px;
      transition: transform .3s;
      &.dropdown-opened {
        transform: rotate(180deg);
      }
    }

  }

  &-notify {
    align-items: center;
    display: flex;

    &__letter {
      margin-right: 20px;
      &.incoming{
        &:after {
          bottom: 0;
        }
      }
    }
    &__bell {
      &.incoming{
        &:after {
          bottom: 2px;
        }
      }
    }
    &__bell,
    &__letter {
      cursor: pointer;
      position: relative;
      
      &.incoming {
        &:after {
          content: '';
          display: inline-block;
          width: 6px;
          height: 6px;
          background-color: $bright-green;
          border-radius: 50%;
          position: absolute;
          right: -2px;
        }
      }
    }
  }

}

