@import "~assets/vars";
.dropdown {
  background: $seach-input-bg;
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 10;

  &-item {
    padding: 13px 20px 15px;
    &:hover{
      background: $dark-blue-hover;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $dark-blue;
    }
    
    a {
      text-decoration: none;
      color: $grey-bg-text;
      font-weight: 500;
      font-size: 14px;      
    }
  }
}
