@font-face {
    font-family: 'NunitoSans';
    src: url('./fonts/NunitoSans-Regular.woff') format('woff'), url('./fonts/NunitoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('./fonts/NunitoSans-Bold.woff') format('woff'), url('./fonts/NunitoSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-Regular.woff') format('woff'), url('./fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-Bold.woff') format('woff'), url('./fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
